RewriteEngine On
RewriteBase /

ErrorDocument 404 /index.php?r=notfound

RewriteCond %{REQUEST_URI} !^/static
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^robots(\.txt)?$ robots.php
RewriteRule ^sitemap(\.xml)?$ sitemap.php
