@charset 'utf-8';

/**
 * Globais
 */

body {
	margin: 0;
	background-color: #efefef;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: 250px;
	font-size: 62.5%;
	animation: 120s moverFundo linear infinite;
}

header, nav, main, article, aside, section, footer {
	display: block;
}

@keyframes moverFundo {
	from {
		background-position-x: 0%;
		background-position-y: 0%;
	} to {
		background-position-x: 100%;
		background-position-y: -100%;
	}
}

a {
	text-decoration: none;
	color: #0288d1;
}

a:hover {
	color: cornflowerblue;
	font-weight: bold;
}

.cfix {
	clear: both;
}

/**
 * Login
 */

main.login-form {
	position: relative;
	width: 100%;
	height: 100vh;
}

main.login-form div.login-form {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

div.login-form {
	width: 420px;
	position: absolute;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 0px 8px rgba(0,0,0, .2);
}

.login-form__logo {
	width: 90%;
	height: 10em;
	margin: 2em auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
	background-position: center;
}

.login-form__separador {
	width: 100%;
	margin: .5em 0;
	height: .1em;
	background-color: #dedede;
}

div.login-form label {
	position: relative;
	transition: 200ms ease-in-out;
	display: inline-block;
	font-family: Raleway, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	color: white;
	background-color: #0288d1;
	padding: .25em 1em;
	cursor: pointer;
	margin: .3em 0;
}

div.login-form label:hover {
	transition: 200ms ease-in-out;
	background-color: cornflowerblue;
}

div.login-form label:after {
	position: absolute;
	transform: translate(90%);
	content: '...';
	color: transparent;
	right: 0;
	top: 0;
	padding: .25em 0;
	background-color: cornflowerblue;
}

div.login-form input {
	display: block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.5em;
	border: 0;
	padding: 0;
	margin: 0;
	border-bottom: .05em solid #0288d1;
	background-color: transparent;
	width: 90%;
	margin: 0 auto;
	outline: none;
	color: #777;
}

div.login-form__texto {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.3em;
	width: 90%;
	margin: 0 auto;
	color: #777;
}

div.login-form__centralizador {
	text-align: center;
	width: 90%;
	margin: 0 auto;
}

button.login-form__botao {
	transition: 200ms ease-in-out;
	display: inline-block;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #0288d1;
	font-size: 1.5em;
	color: white;
	padding: .5em .8em;
	border: 0;
	margin: 1em 0;
	cursor: pointer;
	border-radius: 3px;
}

button.login-form__botao:hover {
	transition: 200ms ease-in-out;
	background-color: cornflowerblue;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

span.login-form__erro {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #ff0033;
	padding-left: 2em;
}

span.login-form__erro::before {
	content: '* ';
}

@media (max-width: 1024px) {
	div.login-form {
		width: 100%;
		height: 100%;
	}
}

/**
 * Erro
 */

main.erro-pag {
	position: relative;
	width: 100%;
	height: 100vh;
}

main.erro-pag div.erro-pag {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

div.erro-pag {
	width: 75%;
	position: absolute;
	text-align: center;
	border-radius: 3px;
}

.erro-pag__icone {
	width: 100%;
	height: 20em;
	margin: 2em auto;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
	background-position: center;
}

div.erro-pag h1 {
	font-size: 4em;
	font-weight: 300;
	font-family: Roboto, Arial, sans-serif;
	color: white;
}

div.erro-pag h2 {
	font-size: 3em;
	font-family: Robot, Arial, sans-serif;
	color: #ff0033;
}

.erro-pag__texto {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 2em;
	color: #888;
}

/**
 * Debug
 */

#modoDebugIcone {
	transition: 250ms ease-in-out;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 100px;
	height: 100px;
	opacity: .75;
	padding-right: 1em;
	background-attachment: scroll;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#modoDebugIcone:hover {
	transition: 250ms ease-in-out;
	padding-right: 2.5em;
	opacity: 0;
}

#modoDebugLogPainel {
	transition: 200ms ease-out;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 420px;
	height: 100vh;
	opacity: 0;
	background-color: rgba(0,0,0, .6);
	overflow-y: scroll;
	overflow-x: hidden;
	transform: translate(95%);
}

#modoDebugLogPainel h2 {
	font-family: Ubuntu, Arial, sans-serif;
	font-size: 2.5em;
	color: white;
	width: 90%;
	margin: .5em auto;
}

#modoDebugLogPainel:hover {
	transition: 200ms ease-out;
	opacity: 1;
	visibility: visible;
	transform: translate(0%);
}

.modoDebugLogPainel__notificacao {
	transition: 200ms ease-in-out;
	position: relative;
	width: 90%;
	margin: 1em auto;
	padding: .5em 2.5%;
	cursor: pointer;
	background-color: #efefef;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
	border-radius: 5px;
	overflow: hidden;
}

.modoDebugLogPainel__notificacao .notificacao__fechar {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	position: absolute;
	top: .5em;
	right: .5em;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	color: #ff0033;
}

.modoDebugLogPainel__notificacao .notificacao__fechar:hover {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	transform: scale(2);
}


.modoDebugLogPainel__notificacao--desativada {
	transition: 200ms ease-in-out;
	height: 0px;
	transform: translate(100%);
	opacity: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

.modoDebugLogPainel__notificacao:hover {
	transition: 200ms ease-in-out;
	padding: 2em 2.5%;
	background-color: white;
	box-shadow: 0px 0px 6px rgba(0,0,0, .6);
	border-radius: 5px;
}

.modoDebugLogPainel__notificacao p {
	transition: 200ms ease-in-out;
	margin: 0;
	font-family: Raleway, Arial, sans-serif;
	color: cornflowerblue;
	font-size: 2em;
}

.modoDebugLogPainel__notificacao:hover p {
	transition: 200ms ease-in-out;
	text-indent: .1em;
}

.modoDebugLogPainel__notificacao span {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #777;
	font-size: 1.2em;
}

/**
 * Header
 */

 header {
	 width: 100%;
	 background-color: #0288d1;
 }

 header .header__centralizador {
	 max-width: 1024px;
	 margin: 0 auto;
 }

header .logo-container {
	transition: 200ms ease-in-out;
	width: 10em;
	height: 10em;
	float: left;
}

header .logo-container img {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	display: block;
	margin: auto auto;
	max-width: 100%;
	min-width: 75%;
	max-height: 100%;
	min-height: 75%;
	float: left;
}

header .logo-container:hover img {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	transform: scale(1.1);
}

header .logo-container:hover {
	transition: 200ms ease-in-out;
	background-color: rgba(0, 0, 0, .1);
	border-radius: 100%;
}

header .logo-texto-container {
	margin-left: 1em;
	float: left;
}

header .logo-texto-container h1 {
	font-family: Raleway, Arial, sans-serif;
	font-size: 2.6em;
	color: white;
	font-weight: 300;
	border-bottom: .05em solid #ff0033;
	margin-bottom: .1em;
}

header .logo-texto-container h2 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	color: #eee;
	margin-top: .1em
}

header .usuario-container {
	position: relative;
	float: right;
	height: 10em;
	margin: 0 1em;
}

header .usuario-container__centralizador {
	display: inline-block;
	padding: 3.8em 0;
}

header .usuario-container__centralizador.botao-container {
	display: inline-block;
	padding: 3em 0;
}

header .usuario-container__centralizador * {
	margin: 0;
}

header .usuario-container p {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 2em;
	color: #333;
	margin-right: .5em;
}

header .usuario-container span {
	color: white;
}

header .usuario-container a.botao {
	transition: 150ms ease-in-out;
	display: inline-block;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	font-size: 2em;
	color: white;
	margin: 0 .5em;
	text-transform: uppercase;
	padding: .4em 1em;
	border-radius: 3px;
}

header .usuario-container a.botao:hover {
	transition: 150ms ease-in-out;
	background-color: #ff0033;
}

/**
 * Home
 */

main.generic {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

section.generic {
	position: relative;
	width: 95%;
	min-height: 25.6em;
	margin: 1em auto;
	background-color: #efefef;
	border-radius: 5px;
}

section.generic--double {
	overflow: hidden;
}

section.generic--double h3 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.4em;
	margin: .5em;
	color: #555;
}

section.generic--triple {
	overflow: hidden;
}

section.generic--triple h3 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.4em;
	margin: .5em;
	color: #555;
}

section.generic .generic__icone {
	float: left;
	width: 30%;
	height: 25.6em;
	background-attachment: scroll;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

section.generic .generic__icone--triple {
	position: relative;
	transition: 200ms ease-in-out;
	width: 33%;
	background-size: 75%;
}

section.generic .generic__icone--triple:hover {
	transition: 200ms ease-in-out;
	background-position: center 40%;
	background-color: rgba(0,0,0, .05);
}

section.generic .generic__icone--double {
	position: relative;
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	width: 50%;
	background-size: 50%;
}

section.generic .generic__icone--double:hover {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	transform: scale(1.05);
	background-position: center 40%;
	background-color: rgba(0,0,0, .05);
}

section.generic .generic__right-container {
	position: relative;
	float: right;
	width: 65%;
	margin: 0 2.5%;
	min-height: 25.6em;
}

section.generic .generic__right-container h3 {
	width: 95%;
	padding: .5em 2.5%;
	font-family: Roboto, Arial, sans-serif;
	font-size: 4em;
	background-color: #0288d1;
	font-weight: 300;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #eee;
	margin-top: 0;
	margin-bottom: .5em;
}

section.generic .generic__right-container p {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.4em;
	color: #555;
	text-indent: 1em;
}

section.generic-lista {
	overflow: hidden;
	position: relative;
	width: 95%;
	margin: 1em auto;
	background-color: #efefef;
	border-radius: 5px;
}

section.generic-lista ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
}

section.generic-lista ul li {
	position: relative;
	transition: 300ms ease-in-out;
	border-top: .05em solid rgba(0,0,0, .05);
	border-bottom: .05em solid rgba(0,0,0, .05);
}

section.generic-lista ul li:hover {
	transition: 300ms ease-in-out;
	background-color: rgba(0,0,0, .05);
}

section.generic-lista ul li:hover .generic-lista__icone {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	transform: scale(1.2) rotate(-15deg);
}

section.generic-lista ul li:hover .generic-lista__nome p {
	transition: 250ms ease-in-out;
	transform: translate(.5em);
}

section.generic-lista .generic-lista__icone {
	transition: 350ms cubic-bezier(0.76,-0.02, 0, 1.57);
	float: left;
	width: 10%;
	height: 5em;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: scroll;
	background-position: center;
}

section.generic-lista .generic-lista__descricao {
	font-size: .65em;
	text-indent: 1em;
	background-color: rgba(0,0,0, .02);
	border-radius: 3px;
	margin: 2em 0;
}

section.generic-lista .generic-lista__nome {
	float: left;
	width: 60%;
	min-height: 5em;
}

section.generic-lista .generic-lista__nome p {
	transition: 250ms ease-in-out;
	font-size: 2em;
	color: #777;
	margin: 0 .25em;
	padding: .675em 0;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
}

section.generic-lista .generic-lista__botao {
	position: relative;
	float: right;
	width: 30%;
	height: 5em;
}

section.generic-lista .generic-lista__botao a {
	transition: 200ms ease-in-out;
	display: block;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #0288d1;
	font-size: 1.5em;
	color: white;
	padding: .5em .8em;
	margin: .5em auto;
	border-radius: 3px;
}

section.generic-lista .generic-lista__botao a:hover {
	transition: 200ms ease-in-out;
	background-color: cornflowerblue;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

section.generic-lista h3 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.4em;
	margin: .5em;
	color: #555;
}

section.generic-lista .generic-lista__erro {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.2em;
	margin: .5em;
	color: #ff0033;
}

section.generic-form {
	position: relative;
	width: 95%;
	margin: 1em auto;
	padding: 1em 0;
	background-color: #efefef;
	border-radius: 5px;
}

section.generic-form form {
	max-width: 98%;
	margin: 0 auto;
}

section.generic-form label {
	position: relative;
	transition: 200ms ease-in-out;
	display: inline-block;
	font-family: Raleway, Arial, sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	color: white;
	background-color: #0288d1;
	padding: .25em 1em;
	cursor: pointer;
	margin: .3em 0;
}


section.generic-form label:hover {
	transition: 200ms ease-in-out;
	background-color: cornflowerblue;
}

section.generic-form label::after {
	position: absolute;
	transform: translate(90%);
	content: '...';
	color: transparent;
	right: 0;
	top: 0;
	padding: .25em 0;
	background-color: cornflowerblue;
}

section.generic-form input {
	display: block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.5em;
	border: 0;
	padding: 0;
	margin: 0;
	border-bottom: .05em solid #0288d1;
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
	outline: none;
	color: #777;
}

section.generic-form textarea {
	display: block;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.5em;
	border: 0;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	width: 100%;
	min-height: 10em;
	resize: vertical;
	margin: 0 auto;
	outline: none;
	color: #777;
}

section.generic-form select {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.5em;
	border: 0;
	padding: 0;
	margin: 0;
	color: #777;
}

section.generic-form button {
	transition: 200ms ease-in-out;
	display: block;
	font-family: Raleway, Arial, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #0288d1;
	font-size: 1.5em;
	color: white;
	padding: .5em .8em;
	border: 0;
	margin: 1em auto;
	margin-bottom: 0;
	cursor: pointer;
	border-radius: 3px;
}

section.generic-form button:hover {
	transition: 200ms ease-in-out;
	background-color: cornflowerblue;
	box-shadow: 0px 0px 6px rgba(0,0,0, .4);
}

section.generic-form .generic-form__erro {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #ff0033;
}

section.generic-form .generic-form__erro::before {
	content: '* ';
}

section.generic-form h3 {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-size: 1.4em;
	margin: .5em;
	color: #555;
}

